:root {
    --yellow_header: #FFCB06;
    --header-table_bg: #222222;
    --form_bg: #F0F0F0;
    --yellow_main: #FECA30;
    --footer-advantage_bg: #131313;
    --light-text_color: #D4D4D4;
    --darck-text_color: #000000;
    --footer-text_color: #555555;
    --footer-nav-text_color: #888888;
}
